In [2]:
import pandas as pd
import numpy as np
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
%matplotlib inline

In [3]:
init_notebook_mode(connected=True)

In [4]:
cf.go_online()

In [5]:
df = pd.DataFrame(np.random.randn(100,4), columns=['A', 'B', 'C', 'D'])

In [6]:
df.head()

          A         B         C         D
0 -2.691582 -0.942120 -0.864176  1.981776
1 -0.335536  0.545012 -0.710941  2.791367
2 -0.662489  0.150213  0.670767  2.374363
3  0.854933 -0.096445 -0.515708  1.096076
4 -0.553377  1.107841 -1.494981  1.414639

In [7]:
df2 = pd.DataFrame({'Category': ['A', 'B', 'C'], 'Values': [32,41,65]})

In [8]:
df2.head()

  Category  Values
0        A      32
1        B      41
2        C      65

In [ ]:
df.iplot()